*.vcxproj
*.sln
*.filters
*.vpc_crc
*.vpc_cache
.vs
manifest.txt
.obj
.log

# Files to ignore when considering what GIT should commit.

# Visual Studio 
.vs
.vscode
*.suo
*.user
*.FileListAbsolute.txt
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
*.pdb
*.recipe
*.iobj
*.ipdb
*.res
*.aps
UpgradeLog.htm
generated_code_*

materialsystem/stdshaders/filelist.txt
materialsystem/stdshaders/filelistgen.txt

# Windows build products
*.mll
*.dll
*.exe
*.lib
**/Release/*.lib
**/Release/*.res
**/Release_dbg/*.lib
**/Release_dx9/*.lib
**/Release_dll/*.lib
**/Release_stdio/*.lib
**/Debug/*.lib
**/Debug/*.res
**/Debug_dbg/*.lib
**/Debug_dx9/*.lib
**/Debug_dll/*.lib
**/Debug_stdio/*.lib

**/Release/x64/*.lib
**/Release/x64/*.res
**/Release_dbg/x64/*.lib
**/Release_dx9/x64/*.lib
**/Release_dll/x64/*.lib
**/Release_stdio/x64/*.lib
**/Debug/x64/*.lib
**/Debug/x64/*.res
**/Debug_dbg/x64/*.lib
**/Debug_dx9/x64/*.lib
**/Debug_dll/x64/*.lib
**/Debug_stdio/x64/*.lib

valveetwproviderEvents*
**/generated_proto/

# Explicitly ignore libs public folder. Depends on case by case if we want to commit them or not.
# Most of these are build results from the main project and don't take that much time to compile in the first place.
lib/common/bzip2.lib
lib/common/mxtoolkitwin32.lib
lib/public/appframework.lib
lib/public/bitmap.lib
lib/public/bitmap_byteswap.lib
lib/public/bonesetup.lib
lib/public/choreoobjects.lib
lib/public/datamodel.lib
lib/public/dme_controls.lib
lib/public/dmserializers.lib
lib/public/dmxloader.lib
lib/public/fgdlib.lib
lib/public/fow.lib
lib/public/json.lib
lib/public/game_controls.lib
lib/public/interfaces.lib
lib/public/matchmakingbase.lib
lib/public/matchmakingbase_ds.lib
lib/public/materialobjects.lib
lib/public/mathlib.lib
lib/public/mathlib_extended.lib
lib/public/matsys_controls.lib
lib/public/mdlobjects.lib
lib/public/meshutils.lib
lib/public/movieobjects.lib
lib/public/particles.lib
lib/public/quickhull.lib
lib/public/raytrace.lib
lib/public/resourcefile.lib
lib/public/responserules_runtime.lib
lib/public/shaderlib.lib
lib/public/soundsystem_lowlevel.lib
lib/public/tier0.lib
lib/public/tier1.lib
lib/public/tier2.lib
lib/public/tier3.lib
lib/public/toolutils.lib
lib/public/unitlib.lib
lib/public/vgui_controls.lib
lib/public/vgui_surfacelib.lib
lib/public/videocfg.lib
lib/public/vpklib.lib
lib/public/vstdlib.lib
lib/public/vtf.lib

lib/common/bzip2.lib
lib/common/mxtoolkitwin32.lib
lib/public/x64/appframework.lib
lib/public/x64/bitmap.lib
lib/public/x64/bitmap_byteswap.lib
lib/public/x64/bonesetup.lib
lib/public/x64/choreoobjects.lib
lib/public/x64/datamodel.lib
lib/public/x64/dme_controls.lib
lib/public/x64/dmserializers.lib
lib/public/x64/dmxloader.lib
lib/public/x64/fgdlib.lib
lib/public/x64/fow.lib
lib/public/x64/game_controls.lib
lib/public/x64/interfaces.lib
lib/public/x64/matchmakingbase.lib
lib/public/x64/matchmakingbase_ds.lib
lib/public/x64/materialobjects.lib
lib/public/x64/mathlib.lib
lib/public/x64/mathlib_extended.lib
lib/public/x64/matsys_controls.lib
lib/public/x64/mdlobjects.lib
lib/public/x64/meshutils.lib
lib/public/x64/movieobjects.lib
lib/public/x64/particles.lib
lib/public/x64/quickhull.lib
lib/public/x64/raytrace.lib
lib/public/x64/resourcefile.lib
lib/public/x64/responserules_runtime.lib
lib/public/x64/shaderlib.lib
lib/public/x64/soundsystem_lowlevel.lib
lib/public/x64/tier0.lib
lib/public/x64/tier1.lib
lib/public/x64/tier2.lib
lib/public/x64/tier3.lib
lib/public/x64/toolutils.lib
lib/public/x64/unitlib.lib
lib/public/x64/vgui_controls.lib
lib/public/x64/vgui_surfacelib.lib
lib/public/x64/videocfg.lib
lib/public/x64/vpklib.lib
lib/public/x64/vstdlib.lib
lib/public/x64/vtf.lib

lib/common/win32/libz.lib
lib/common/win64/libz.lib

lib/public/win32/dmeutils.lib
lib/public/win64/dmeutils.lib
lib/public/win32/fbxutils.lib
lib/public/win64/fbxutils.lib
lib/public/win32/kv3lib.lib
lib/public/win64/kv3lib.lib

!lib/win64/release/cryptlib.lib

!lib/common/win64/git2.lib

!lib/common/win64/embree/*.lib


# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!devtools/srcsrv/**
!devtools/bin/*.pl
!devtools/bin/*.cmd
# Windows VPC
!devtools/bin/win64/filesystem_stdio.dll
!devtools/bin/win64/tier0.dll
!devtools/bin/win64/vpc.exe
!devtools/bin/win64/vstdlib.dll

!devtools/bin/vpc
!devtools/bin/*.exe
!utils/smdlexp/smdlexp.mak

# Linux libs
lib/public/linux32/appframework.a
lib/public/linux32/bitmap.a
lib/public/linux32/bitmap_byteswap.a
lib/public/linux32/bonesetup.a
lib/public/linux32/choreoobjects.a
lib/public/linux32/datamodel.a
lib/public/linux32/dme_controls.a
lib/public/linux32/dmserializers.a
lib/public/linux32/dmxloader.a
lib/public/linux32/fgdlib.a
lib/public/linux32/fow.a
lib/public/linux32/game_controls.a
lib/public/linux32/interfaces.a
lib/public/linux32/matchmakingbase.a
lib/public/linux32/matchmakingbase_ds.a
lib/public/linux32/materialobjects.a
lib/public/linux32/mathlib.a
lib/public/linux32/mathlib_extended.a
lib/public/linux32/matsys_controls.a
lib/public/linux32/mdlobjects.a
lib/public/linux32/meshutils.a
lib/public/linux32/movieobjects.a
lib/public/linux32/particles.a
lib/public/linux32/quickhull.a
lib/public/linux32/raytrace.a
lib/public/linux32/resourcefile.a
lib/public/linux32/responserules_runtime.a
lib/public/linux32/shaderlib.a
lib/public/linux32/soundsystem_lowlevel.a
lib/public/linux32/tier0.a
lib/public/linux32/tier1.a
lib/public/linux32/tier2.a
lib/public/linux32/tier3.a
lib/public/linux32/toolutils.a
lib/public/linux32/unitlib.a
lib/public/linux32/vgui_controls.a
lib/public/linux32/vgui_surfacelib.a
lib/public/linux32/videocfg.a
lib/public/linux32/vpklib.a
lib/public/linux32/vstdlib.a
lib/public/linux32/vtf.a

lib/public/linux64/appframework.a
lib/public/linux64/bitmap.a
lib/public/linux64/bitmap_byteswap.a
lib/public/linux64/bonesetup.a
lib/public/linux64/choreoobjects.a
lib/public/linux64/datamodel.a
lib/public/linux64/dme_controls.a
lib/public/linux64/dmserializers.a
lib/public/linux64/dmxloader.a
lib/public/linux64/fgdlib.a
lib/public/linux64/fow.a
lib/public/linux64/game_controls.a
lib/public/linux64/interfaces.a
lib/public/linux64/matchmakingbase.a
lib/public/linux64/matchmakingbase_ds.a
lib/public/linux64/materialobjects.a
lib/public/linux64/mathlib.a
lib/public/linux64/mathlib_extended.a
lib/public/linux64/matsys_controls.a
lib/public/linux64/mdlobjects.a
lib/public/linux64/meshutils.a
lib/public/linux64/movieobjects.a
lib/public/linux64/particles.a
lib/public/linux64/quickhull.a
lib/public/linux64/raytrace.a
lib/public/linux64/resourcefile.a
lib/public/linux64/responserules_runtime.a
lib/public/linux64/shaderlib.a
lib/public/linux64/soundsystem_lowlevel.a
lib/public/linux64/tier0.a
lib/public/linux64/tier1.a
lib/public/linux64/tier2.a
lib/public/linux64/tier3.a
lib/public/linux64/toolutils.a
lib/public/linux64/unitlib.a
lib/public/linux64/vgui_controls.a
lib/public/linux64/vgui_surfacelib.a
lib/public/linux64/videocfg.a
lib/public/linux64/vpklib.a
lib/public/linux64/vstdlib.a
lib/public/linux64/vtf.a

# Specific Source build products
vscript/languages/squirrel/vsquirrel/init_nut.h
*.vpc_crc
*.vpc.sentinel
*.vpc_cache
**/_vpc_/
*_nut.h

client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib

client.so
client.so.dbg
server.so
server.so.dbg
server_srv.so
server_srv.so.dbg

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

# files generated by running a mod
config.cfg

# shader files
*.tmp

*.copy
*.enc
materialsystem/stdshaders/uniquefilestocopy.txt
materialsystem/stdshaders/makefile.stdshader_dx9_20b
materialsystem/stdshaders/makefile.lightmapped_generic
materialsystem/stdshaders/lightmapped_generic.txt
materialsystem/stdshaders/filestocopy.txt
materialsystem/stdshaders/NIL
materialsystem/stdshaders/vcslist.txt
materialsystem/stdshaders/inclist.txt
**functionorder.txt
lib/public/x64/json.lib
vscript/Release*
thirdparty/zlib-1.2.5/*.lib
thirdparty/filament*
/mdllib/Release/win32/mdllib.lib
/panorama/Release/win32/panorama.lib
/panorama/Release_text_pango/panorama_text_pango.lib
/panoramauiclient/Release/win32/panoramauiclient.lib
/scenefilecache/Release/win32/scenefilecache.lib
/serverbrowser/Release/win32/serverbrowser.lib
/soundemittersystem/Release/win32/soundemittersystem.lib
/soundsystem/Release/win32/soundsystem.lib
/studiorender/Release/win32/studiorender.lib
/tools/commedit/Release/win32/commedit.lib
/tools/pet/Release/win32/pet.lib
/tools/vmt/Release/win32/vmt.lib
/utils/FileSystemOpenDialog/Release/win32/FileSystemOpenDialog.lib
/utils/hlmv/Release/win32/hlmv.lib
/utils/shadercompile/Release/win32/shadercompile_dll.lib
/utils/shadercompile_launcher/Release/win32/shadercompile.lib
/utils/vbsp/Release/win32/vbsp.lib
/utils/vbspinfo/Release/win32/vbspinfo.lib
/utils/vrad/Release/win32/vrad_dll.lib
/utils/vrad_launcher/Release/win32/vrad.lib
/utils/vtex/Release/win32/vtex.lib
/utils/vvis/Release/win32/vvis_dll.lib
/utils/vvis_launcher/Release/win32/vvis.lib
/vgui2/src/Release/win32/vgui2.lib
/vgui2/vlocalize/Release/win32/vlocalize.lib
/vguimatsurface/Release/win32/vguimatsurface.lib
/avi/Release/win32/valve_avi.lib
/datacache/Release/win32/datacache.lib
/dedicated/Release/win32/dedicated.lib
/engine/Release/win32/engine.lib
/engine_ds/Release/win32/engine_ds.lib
/filesystem/Release_Stdio/win32/filesystem_stdio.lib
/game/client/Debug_client_panorama/win32/client_panorama.lib
/game/client/Release_client_panorama/win32/client_panorama.lib
/hammer/Release/win32/hammer_dll.lib
/hammer_launcher/Release/win32/hammer.lib
/imemanager/Release/win32/imemanager.lib
/inputsystem/Release/win32/inputsystem.lib
/launcher/Release/win32/launcher.lib
/lib/common/win32/blobulator.lib
/lib/common/win32/bzip2.lib
/lib/common/win32/mxtoolkitwin32.lib
/lib/public/win32/appframework.lib
/lib/public/win32/bitmap.lib
/lib/public/win32/bitmap_byteswap.lib
/lib/public/win32/bonesetup.lib
/lib/public/win32/choreoobjects.lib
/lib/public/win32/datamodel.lib
/lib/public/win32/dme_controls.lib
/lib/public/win32/dmserializers.lib
/lib/public/win32/dmxloader.lib
/lib/public/win32/fgdlib.lib
/lib/public/win32/fow.lib
/lib/public/win32/game_controls.lib
/lib/public/win32/interfaces.lib
/lib/public/win32/matchmakingbase.lib
/lib/public/win32/matchmakingbase_ds.lib
/lib/public/win32/materialobjects.lib
/lib/public/win32/mathlib.lib
/lib/public/win32/mathlib_extended.lib
/lib/public/win32/matsys_controls.lib
/lib/public/win32/mdlobjects.lib
/lib/public/win32/meshutils.lib
/lib/public/win32/movieobjects.lib
/lib/public/win32/panorama_client.lib
/lib/public/win32/panorama_s1wrapper.lib
/lib/public/win32/particles.lib
/lib/public/win32/quickhull.lib
/lib/public/win32/raytrace.lib
/lib/public/win32/resourcefile.lib
/lib/public/win32/responserules_runtime.lib
/lib/public/win32/shaderlib.lib
/lib/public/win32/soundsystem_lowlevel.lib
/lib/public/win32/tier0.lib
/lib/public/win32/tier1.lib
/lib/public/win32/tier2.lib
/lib/public/win32/tier3.lib
/lib/public/win32/toolutils.lib
/lib/public/win32/unitlib.lib
/lib/public/win32/vgui_controls.lib
/lib/public/win32/vgui_surfacelib.lib
/lib/public/win32/videocfg.lib
/lib/public/win32/vpklib.lib
/lib/public/win32/vstdlib.lib
/lib/public/win32/vtf.lib
!/lib/public/win64/steam_api64.lib
/localize/Release/win32/localize.lib
/matchmaking/Debug_desolation/matchmaking.lib
/matchmaking/Debug_desolation_DS/matchmaking_ds.lib
/matchmaking/Release_desolation/matchmaking.lib
/matchmaking/Release_desolation_DS/matchmaking_ds.lib
/materialsystem/Release/win32/materialsystem.lib
/materialsystem/shaderapidx9/Release/win32/shaderapidx9.lib
/materialsystem/shaderapiempty/Release/win32/shaderapiempty.lib
/materialsystem/stdshaders/Release_dbg/win32/stdshader_dbg.lib
/materialsystem/stdshaders/Release_dx9/win32/stdshader_dx9.lib
/materialsystem/deferredshaders/Release_dx9/win32/deferredshader_dx9.lib
hammer/Debug/win32/hammer_dll.lib
hammer/Debug/win32/hammer.res
hammer_launcher/Debug/win32/hammer_launcher.res
hammer_launcher/Debug/win32/hammer.lib
launcher_main/Release/win32/c17_win32.lib
launcher_main/Release/win32/launcher_main_c17.res
tier0/Debug/win32/assert_dialog.res
utils/fbx2dmx/Release/win32/fbx2dmx.lib
utils/vsoundedit/Release/win32/vsoundedit.lib
panorama/generated_proto_panorama_text_base/uifontfile_format.pb.h
panorama/generated_proto_panorama_text_base/uifontfile_format.pb.cc
dedicated/Release/win32/dedicated.res
dedicated_main/Release/win32/dedicated_main.res
matchmaking/Release_c17/matchmaking.lib
matchmaking/Release_c17_DS/matchmaking_ds.lib
materialsystem/deferredshaders/filelist.txt
materialsystem/deferredshaders/filelistgen.txt
materialsystem/deferredshaders/filestocopy.txt
materialsystem/deferredshaders/inclist.txt
materialsystem/deferredshaders/makefile.c17_shaders
materialsystem/deferredshaders/uniquefilestocopy.txt
materialsystem/deferredshaders/vcslist.txt
launcher_main/Release/win32/launcher_main_desolation.res
/materialsystem/procshader/Debug_procshader_2013/procshader_dx9.lib
/materialsystem/procshader/Release_procshader_2013/procshader_dx9.lib
/shadereditor/Release_shader_editor/shadereditor.lib

/materialsystem/deferredshaders/fxctmp9/*
/materialsystem/deferredshaders/fxctmp9_tmp/*
/materialsystem/deferredshaders/shaders/*
dedicated/Release/win64/dedicated.res
dedicated_main/Release/win64/dedicated_main.res
hammer/Release/win32/hammer.res
hammer/Release/win64/hammer.res
hammer_launcher/Release/win64/hammer_launcher.res
tier0/Release/win64/assert_dialog.res
utils/FileSystemOpenDialog/Release/win64/FileSystemOpenDialog.res
utils/hlmv/Release/win64/hlmv.res
utils/vsoundedit/Release/win64/vsoundedit.res
materialsystem/stdshaders/makefile.stdshader_dx9_30
utils/hlmv/Debug/win64/hlmv.res
utils/vsoundedit/Debug/win64/vsoundedit.res
utils/FileSystemOpenDialog/Debug/win64/FileSystemOpenDialog.res
tier0/Debug/win64/assert_dialog.res
hammer_launcher/Debug/win64/hammer_launcher.res
hammer/Debug/win64/hammer.res
dedicated_main/Debug/win64/dedicated_main.res
dedicated/Debug/win64/dedicated.res
launcher_main/Release/win64/launcher_main_desolation.res
materialsystem/stdshaders/makefile.stdshader_dx9_20b_new
hammer_launcher/Release/win32/hammer_launcher.res
hammer/Release/win32/hammer.res
/game/server/generated_proto/netmessages.pb.cc
/game/server/generated_proto/netmessages.pb.h
/game/server/generated_proto/network_connection.pb.cc
/game/server/generated_proto/network_connection.pb.h
libz.lib
nvtristrip.lib
libprotobuf.lib
parsifal.lib
adhoc.cpp.copied
!libfbxsdk.lib

*.pb.*

vpc_linux

*.o
*.a
*.so
*.pc

# VScript generated
vscript/languages/squirrel3/sqdbg/serialize_state.inl
_vpc_ninja_objs
*.ninja_inc
*.ninja
.ninja_log
